.post {
  background: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px 3px rgba(183, 183, 183, 0.2);
  box-shadow: 0 0 5px 3px rgba(183, 183, 183, 0.2);
}
.owner {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.owner__photo {
  z-index: 1;
  margin-left: 4px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 100%;
}
.owner__login {
  font-weight: bold;
  font-size: 14px;
}
.postDate {
  font-weight: normal;
  font-size: 11px;
}
.post__main {
  display: flex;
  color: white;
  position: relative;
  overflow: hidden;
}
.actions_bc,
.post__content {
  background-color: #ffffff;
  color: #000;
}
.post__actions {
  padding-top: 5px;
  flex-direction: row-reverse;
  display: flex;
  margin: 10px;
  gap: 10px;
}
.post__actions__item {
  display: flex;
  gap: 2px;
  align-items: center;
}
.post__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: break-all;
  padding: 10px 15px;
  width: 100%;
}
.post_images {
  display: flex;
  gap: 10px;
  object-fit: contain;
}
