.content {
  margin: 0 auto;
  width: calc(100% - 10px);
}

.center_block,
.center_block__posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 700px) {
  .content {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 50%;
  }
}
