.button svg {
  width: 100%;
  height: 100%;
  transition: 0.15s;
}
.button svg:hover {
  transform: scale(1.09);
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
