* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
input[type='color'] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
img {
  object-fit: cover;
}
a {
  outline: none;
  color: black;
  text-decoration: none;
}
body {
  min-height: 100vh;
  min-width: 320px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  letter-spacing: 0.25px;
  background: #fafafa;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.Modal {
  right: 10px;
  left: 10px;
  border-radius: 10px;
  top: 15%;
  bottom: 15%;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  position: absolute;
}
.Overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(12, 12, 12, 0.4);
}
@media (min-width: 900px) {
  .Modal {
    margin: auto;
    width: 55%;
    max-width: 1000px;
    border-radius: 10px;
  }
}
