.post {
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px 3px rgba(183, 183, 183, 0.05);
  box-shadow: 0 0 5px 3px rgba(183, 183, 183, 0.05);
  border-radius: 15px;
}

.post__main {
  display: flex;
  color: white;
  position: relative;
  overflow: hidden;
}
.actions_bc,
.post__content {
  background-color: #ffffff;
  color: #000;
}
.post__actions {
  padding-top: 5px;
  flex-direction: row-reverse;
  display: flex;
  margin: 10px;
  gap: 10px;
}
.post__actions__item {
  display: flex;
  gap: 2px;
  align-items: center;
}
.post__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: break-all;
  padding: 10px 15px;
  width: 100%;
}
.post_images {
  display: flex;
  gap: 10px;
  object-fit: contain;
}
.tooltip {
  border-radius: 10px !important;
  padding: 5px 15px !important;
  transition: opacity 0.2s !important;
}
.tooltip__body {
  transition: 1s;
  display: flex;
  gap: 5px;
}
.tooltip__item {
  width: 30px;
  object-fit: cover;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}
